aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
arrow
asgiref
attrs
backoff
backports.functools-lru-cache
blis
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
click
cloudpathlib
confection
cryptography
cymem
dataclasses-json
distro
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
dnspython
docx2txt
emoji
eval_type_backport
faiss-cpu
filetype
fqdn
frozenlist
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-speech
googleapis-common-protos
googletrans
gptcache
greenlet
grpcio
grpcio-status
h11
h2
hpack
hstspreload
html5lib
httpcore
httplib2
httpx
httpx-sse
hyperframe
idna
indic-transliteration
isodate
isoduration
Jinja2
jiter
joblib
jsonpatch
jsonpath-python
jsonpointer
langchain
langchain-community
langchain-core
langchain-openai
langchain-pinecone
langchain-text-splitters
langcodes
langdetect
langgraph
langgraph-checkpoint
langgraph-sdk
langsmith
language_data
libcst
lxml
marisa-trie
markdown-it-py
MarkupSafe
marshmallow
mdurl
mpmath
msgpack
multidict
murmurhash
mypy-extensions
nest-asyncio
nltk
numexpr
numpy
olefile
openai
openapi-schema-pydantic
orjson
packaging
pdf2image
pdfminer.six
pdfplumber
pillow
pinecone
pinecone-client
pinecone-plugin-inference
pinecone-plugin-interface
pip-autoremove
preshed
proto-plus
protobuf
psutil
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydub
Pygments
PyJWT
PyMuPDF
pymupdf4llm
pyparsing
pypdf
PyPDF2
pypdfium2
pytesseract
python-dateutil
python-docx
python-dotenv
python-iso639
python-magic
python-oxmsg
PyYAML
rank-bm25
RapidFuzz
rdflib
regex
requests
requests-toolbelt
rfc3986
rich
roman
rsa
shellingham
six
smart-open
sniffio
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
sqlparse
srsly
svgwrite
tenacity
thinc
tiktoken
toml
tqdm
Tree
typer
types-python-dateutil
typing-inspect
typing_extensions
unstructured
unstructured-client
urllib3
wasabi
weasel
webencodings
wrapt
yarl
youtube-dl
youtube-transcript-api
