asgiref==3.8.1
beautifulsoup4==4.11.1
Django==5.1.6
djangorestframework==3.15.2
docx==0.2.4
filetype==1.2.0
fitz==0.0.1.dev2
google_api_python_client==2.161.0
langchain==0.3.18
langchain_community==0.3.17
langchain_core==0.3.35
langchain_openai==0.3.6
langchain_pinecone==0.2.3
langchain_text_splitters==0.3.6
langgraph==0.2.73
llama_index==0.12.17
llama_parse==0.6.1
nest_asyncio==1.5.5
nltk==3.7
numpy==1.24.4
pdf2image==1.17.0
pdfplumber==0.11.4
pinecone==6.0.1
pydantic==2.10.6
pymupdf4llm==0.0.17
PyPDF2==3.0.1
pytesseract==0.3.13
python-dotenv==1.0.1
rank_bm25==0.2.2
Requests==2.32.3
rest_framework_simplejwt==0.0.2
sentence_transformers==3.4.1
spacy==3.8.4
tiktoken==0.7.0
torch==2.2.2
youtube_transcript_api==0.6.3
