asgiref
beautifulsoup4
Django
djangorestframework
docx
filetype
fitz
google_api_python_client
langchain
langchain_community
langchain_core
langchain_openai
langchain_pinecone
langchain_text_splitters
langgraph
llama_index
llama_parse
nest_asyncio
nltk
numpy
pdf2image
pdfplumber
pinecone
pydantic
pymupdf4llm
PyPDF2
pytesseract
python-dotenv
rank_bm25
Requests
rest_framework_simplejwt
sentence_transformers
spacy
tiktoken
youtube_transcript_api
